.form {
    position: relative;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .form ::ng-deep .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: var(--primary-color);
    font-size: 14px !important;
    padding: 0 10px;
    font-weight: 300 !important;
    filter: brightness(--brightness);
  }
  
  ::ng-deep .mdc-text-field:not(.mdc-text-field-disabled) .mdc-floating-label {
    color: rgb(0, 148, 141);
    font-size: 12px;
  }
  
  ::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 15px !important;
    left: 0px;
    font-size: 12px;
  }
  
  ::ng-deep .mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
    color: var(--primary-color);
    top: 25px !important;
    left: 0 !important;
    position: relative !important;
    font-weight: 300 !important;
    --mat-mdc-form-field-floating-label-scale: 0.8;
    font-size: 0.77rem !important;
  }
  
  ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading {
    border-color: var(--primary-color);
    border-width: 1px;
    filter: brightness(150%);
  }
  
  ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch {
    border-color: var(--primary-color);
    border-right: none !important;
    border-width: 1px;
    filter: brightness(150%);
  }
  
  ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
    border-color: var(--primary-color);
    border-width: 1px;
    filter: brightness(150%);
  }
  
  ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch {
    border-color: var(--primary-color);
    border-width: 2px;
    border-left: none;
    filter: brightness(110%);
    background: rgba(0, 148, 141, 0.05);
  }
  
  ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing,
  ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading {
    border-color: var(--primary-color);
    border-width: 2px;
    filter: brightness(110%);
    background: rgba(0, 148, 141, 0.05);
  }
  
  ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,
  ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,
  ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
    border-color: var(--primary-color);
    border-width: 1px;
  }
  
  ::ng-deep .mat-mdc-text-field-wrapper {
    height: 40px !important;
    width: 19rem !important;
  }
 
  /* icon */
  
  ::ng-deep.mat-icon {
    margin: 0rem 2.8rem 4rem 0rem;
    size: 4px !important;
    color: var(--secondary-color);
  }
  
  ::ng-deep.mat-mdc-form-field-required-marker {
    display: none;
  }
  
  .container__input__buttom {
    display: flex;
    flex-direction: column;
    font-size: medium;
    font-weight: 400;
    color: #525151;
    font-size: 1rem;
  }
  .container__input__buttom .container__input__forget {
    margin-bottom: 2rem;
    align-self: start;
    color: var(--secondary-color);
    font-size: 14px;
    opacity: 0.9;
  }
  .container__input__buttom .container__remember_me {
    cursor: pointer;
    margin: 1rem -0.7rem;
  }
  .container__input__buttom ::ng-deep.mat-mdc-checkbox.mat-mdc-checkbox-checked .mdc-checkbox__background, .container__input__buttom .mdc-checkbox__ripple {
    background-color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;
    color: var(--primary-color) !important;
    font-weight: bold;
  }
  .container__input__buttom ::ng-deep.mdc-checkbox__background {
    border: 1px solid var(--primary-color) !important;
    color: var(--primary-color) !important;
    filter: brightness(130%);
  }
  .container__input__buttom .container__input__button {
    width: 19rem;
    height: 1.8rem;
    border-radius: 4px;
    background-color: white;
    border-width: 2px;
    border-color: var(--primary-color);
    color: var(--primary-color);
    padding: 4px;
    text-align: center !important;
  }
  .container__input__buttom .container__input__button:hover {
    transition: 0.3s ease-in-out;
    box-shadow: 4px var(--primary-colo);
    border-width: 3px;
  }
  .container__input__buttom .container__input__button button {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
  }