
<div class="container__login">
<div class="container__form">
  <div class="logo">
    <img src="./../../../assets/cloud-removebg-preview.png" >
  </div>
  <div class="form">
    <form [formGroup]="myForm" (ngSubmit)="submitForm()" class="flex flex-col gap-y-2  ">
      <div class="container__input">
        <mat-form-field 
        appearance="outline"   >
          <mat-label>Email Address</mat-label>
          <input
           matInput 
           placeholder="e@a"
           required
           type="email"
           formControlName="email"
           id="email"
             >
             <mat-error class="pt-0 flex flex-col gap-y-1"  *ngIf="myForm.get('email')!.touched && myForm.get('email')!.hasError('required')">
                 Email is requied
             </mat-error>
             <mat-error class="pt-0 flex flex-col gap-y-1" *ngIf="myForm.get('email')!.touched && myForm.get('email')!.hasError('pattern')">
               Invaild Email
             </mat-error>
        </mat-form-field>
  
       </div>
       <div class="container__input " >
          <mat-form-field appearance="outline" >
            <mat-label> password</mat-label>
             <input matInput 
              class="input"
              type="string" 
             formControlName="password"
              [type]="hide ? 'password' : 'text'"   
              required
             id="password"
              >
            <button mat-icon-button  matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error class="pt-0 flex flex-col gap-y-1"  *ngIf="myForm.get('password')!.touched && myForm.get('password')!.hasError('required')">
              Password is required.      
            </mat-error>
            <mat-error *ngIf="myForm.get('password')!.hasError('minlength')" class="w-max ml-[-1.1rem]">
              Password must be between 8-20 characters
            </mat-error>
            <mat-error *ngIf="myForm.get('password')!.hasError('maxlength')" class="w-max ml-[-1.1rem]">
              Password must be between 8-20 characters 
            </mat-error>
          </mat-form-field>
        </div> 
        <div class="container__input__buttom">
          <div  class="container__input__forget" >
            <button >
              <a routerLink="#" class="underline">
               Forget Password?
             </a>
           </button>
           <div class="container__remember_me">
            <mat-checkbox 
            formControlName="remember_me"
            > Remember Me</mat-checkbox>
           </div>
           <div  class="container__input__button" >
            <button
            type="submit" 
            [disabled]="myForm.invalid"> 
              login</button>
           </div>
          </div>
      
      </div>
     </form>
  </div>
  <div class="Rights__reserved">
    <p><mat-icon class="copyright">copyright</mat-icon>2023 Gyoumu.Cloud All Rights Reserved.</p>
  </div>
</div>
<div class="container__image">
   <div class="image">
    <img src="./../../../assets/login_Gyoum.png">
   </div>
   <div class="content__image__section">
    <h2>Gyoumu.Cloudで面倒な業務も一括管理。</h2>
     <p>様々なモジュールで、あなたに最適な働き方を提供します。</p>
   </div>
</div>
</div>

