
<div class="container-section">
    <div class="body-section">
      <header class="header">
        <a href="#" class="logo text-3xl font-bold underline">gyoumu cloud</a>
        <button><a routerLink="login">LOGIN</a></button>
      </header>
     <div>
    </div>
   </div>
  <div class="login_router">
    <h1>
      Welcome to login interface
    </h1>
    <button class="button_login_center">
      <a routerLink="login">login</a>
    </button>
  </div>
  </div>
  <router-outlet></router-outlet> 