/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { 
    height: 100%;
 }
body { 
    margin: 0; 
    font-family: Noto Sans JP,sans-serif!important;
    box-sizing: border-box;
 }

 :root{
    --primary-color: #23c0a3;
    --secondary-color: #929292;
     --opacity: 0.87;
     --brightness: 150%;

 }
